<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>BNamericas</title>
    <style>

        body {
            font-family: proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 1;
        }

        table, tr, td {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .ml-50{
            margin-left: 50%;
        }

    </style>
</head>
<body>
<div class="row">

    <div class="ml-50">
        <h1>hola ${user.firstName} ${user.lastName} </h1>
    </div>
</div>


</body>
</html>
